<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>/title>
</head>
    <body>
        <h1></h1>
        <p></a>.</p>
        <br>
        <ul>
            <li><a href="http://gutenberg.org/ebooks/45099"> <img src="./images/45099.jpg" width="75" height="100"></a> <u>The Rise of the Russian Empire   </u> by <em>Hector H. Munro    </em> </li>
            <li><a href="http://gutenberg.org/ebooks/45032"> <img src="./images/45032.jpg" width="75" height="100"></a> <u>The Principal Species of Wood    </u> by <em>Charles H. Snow    </em> </li>
            <li><a href="http://gutenberg.org/ebooks/44975"> <img src="./images/44975.jpg" width="75" height="100"></a> <u>A History of Roman Literature    </u> by <em>Harold North Fowler</em> </li>
            <li><a href="http://gutenberg.org/ebooks/44842"> <img src="./images/44842.jpg" width="75" height="100"></a> <u>Three Years in Western China     </u> by <em>Alexander Hosie    </em> </li>
            <li><a href="http://gutenberg.org/ebooks/44308"> <img src="./images/44308.jpg" width="75" height="100"></a> <u>The Art of War in the Middle Ages</u> by <em>C. W. C. Oman      </em> </li>
        </ul>
    <h4>Books and images are sourced from <a href="https://www.gutenberg.org/wiki/Main_Page"> Project Gutenberg </a> </h4>

    </body>
</html>
                                
